:host {
  border: 2px solid var(--color-primary, black);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
  border-radius: 8px;
}

:host(.error) {
  border-color: #c79804;
}

form input {
  font: inherit;
  color: var(--color-primary, black);
  padding: 0.1rem 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

form input:focus,
form button:focus {
  outline: none;
}

form button:disabled {
  color: white;
  background-color: var(--color-gray, gray);
  border-color: var(--color-gray, gray);
  cursor: not-allowed;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary, black);
  background-color: var(--color-primary, black);
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

form button:hover,
form button:active {
  background: var(--color-secondary, darkgray);
  border-color: var(--color-secondary, darkgray);
  outline: none;
}
