:host {
  border: 2px solid #3b013b;
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
  border-radius: 8px;
}

form input {
  font: inherit;
  color: #3b013b;
  padding: 0.1rem 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

form input:focus,
form button:focus {
  outline: none;
}

form button:disabled {
  color: white;
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #3b013b;
  background-color: #3b013b;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

form button:hover,
form button:active {
  background: #750175;
  border-color: #750175;
  outline: none;
}

ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: 1px solid #ccc;
}
